root = true

[*]
end_of_line = lf
insert_final_newline = true

# Set default charset
[*.{js,py,html}]
charset = utf-8

# 4 space indentation
[*.{js,py,html,json}]
indent_style = space
indent_size = 4

# 2 space indentation
[*.{scss, sass, css}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
