appnope
configparser
decorator
Django
django-extensions
djangorestframework
djangorestframework-gis
future
ipdb
ipython
ipython-genutils
jedi
json-rpc
mccabe
mypy
numpy
parso
pexpect
pickleshare
pluggy
prompt-toolkit
psutil
psycopg2
ptyprocess
pycodestyle
pydocstyle
pyflakes
Pygments
python-language-server
pytz
rope
Shapely
simplegeneric
six
snowballstemmer
traitlets
typed-ast
typing
wcwidth
yapf
factory-boy
